In [1]:
from scripts.manipular_dados.A00_leitura_dados import ler_dados
dados=ler_dados()

In [2]:
dados.columns

Index(['Restaurant_ID', 'Restaurant_Name', 'Country_Code', 'City', 'Address',
       'Locality', 'Locality_Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average_Cost_for_two', 'Currency', 'Has_Table_booking',
       'Has_Online_delivery', 'Is_delivering_now', 'Price_range',
       'Aggregate_rating', 'Rating_color', 'Rating_text', 'Votes',
       'Country_name', 'main_Cuisines'],
      dtype='object')

In [3]:
    
"""    8. Os restaurantes do tipo culinária japonesa dos Estados Unidos da America possuem um valor médio 
de prato para dusa pessoas maior que as churrascarias americanas (BBQ)?
"""

'    8. Os restaurantes do tipo culinária japonesa dos Estados Unidos da America possuem um valor médio \nde prato para dusa pessoas maior que as churrascarias americanas (BBQ)?\n'

In [9]:
def avg_cost_booking(dados):

    dados=dados[dados['Country_name'].isin(['United States of America'])].copy()

    dados=dados[['Restaurant_ID','main_Cuisines','Average_Cost_for_two']].drop_duplicates().copy()


    japa_usa=dados['main_Cuisines'].isin(['Japanese'])
    bbq_usa=dados['main_Cuisines'].isin(['BBQ'])

    dados.loc[japa_usa,'Type']='USA Japanese'
    dados.loc[bbq_usa,'Type']='USA BBQ'
    dados=dados[~dados['Type'].isna()]
    dados=dados.groupby(['Type'])[['Average_Cost_for_two']].sum().reset_index()


    return dados
avg_cost_booking(dados)

           Type  Average_Cost_for_two
0       USA BBQ                1665.0
1  USA Japanese                1805.0