In [1]:
from scripts.manipular_dados.A00_leitura_dados import ler_dados
dados=ler_dados()

In [2]:
dados.columns

Index(['Restaurant_ID', 'Restaurant_Name', 'Country_Code', 'City', 'Address',
       'Locality', 'Locality_Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average_Cost_for_two', 'Currency', 'Has_Table_booking',
       'Has_Online_delivery', 'Is_delivering_now', 'Price_range',
       'Aggregate_rating', 'Rating_color', 'Rating_text', 'Votes',
       'Country_name', 'main_Cuisines'],
      dtype='object')

In [3]:
dados['Aggregate_rating'].unique()

array([4.6, 4.7, 4.4, 4. , 4.3, 4.1, 4.5, 4.2, 4.9, 3.9, 4.8, 3.2, 3.3,
       2.5, 3.1, 3.8, 3.6, 3.7, 3.5, 0. , 2.8, 2.7, 3.4, 2.9, 2.4, 2.3,
       2.6, 3. , 2.2, 2.1])

In [23]:
#=======================================
#DATAFRAME WITH GENERAL INFORMATIONS
#=======================================
def col_cities(dados):
    aux_df=dados.copy()
    aux_df=aux_df[['Country_name','City']].drop_duplicates()
    aux_df=aux_df.groupby(['Country_name']).count()
    aux_df.columns=['Cities']
    return aux_df

def col_restaurants(dados):
    aux_df=dados.copy()
    aux_df=aux_df[['Country_name','Restaurant_ID']].drop_duplicates()
    aux_df=aux_df.groupby(['Country_name']).count()
    aux_df.columns=['Restaurants']
    return aux_df

def col_gourmetRestaurants(dados):
    aux_df=dados.copy()
    aux_df=aux_df[aux_df['Price_range']=='gourmet']
    aux_df=aux_df[['Country_name','Restaurant_ID']].drop_duplicates()
    aux_df=aux_df.groupby(['Country_name']).count()
    aux_df.columns=['Gourmet_restaurants']
    return aux_df

def col_cuisines(dados):
    aux_df=dados.copy()
    aux_df=aux_df[['Country_name','main_Cuisines']].drop_duplicates()
    aux_df=aux_df.groupby(['Country_name']).count()
    aux_df.columns=['cuisines']
    return aux_df

def col_totalVotes(dados):
    aux_df=dados.copy()
    aux_df=aux_df[['Country_name','Restaurant_ID',"Votes"]].drop_duplicates()
    aux_df=aux_df.groupby(['Country_name'])[['Votes']].sum()
    aux_df.columns=['total_votes']
    return aux_df

def col_isDelivering(dados):
    aux_df=dados.copy()
    aux_df=aux_df[aux_df['Is_delivering_now']=='SIM']
    aux_df=aux_df[['Country_name','Restaurant_ID']].drop_duplicates()
    aux_df=aux_df.groupby(['Country_name']).count()
    aux_df.columns=['Delivering_restaurants']
    return aux_df

def col_hasBooking(dados):
    aux_df=dados.copy()
    aux_df=aux_df[aux_df['Has_Table_booking']=='SIM']
    aux_df=aux_df[['Country_name','Restaurant_ID']].drop_duplicates()
    aux_df=aux_df.groupby(['Country_name']).count()
    aux_df.columns=['booking_restaurants']
    aux_df=aux_df.astype(int)
    return aux_df

def col_MeanVotes_perCountry(dados):
    aux_df=dados.copy()
    aux_df=aux_df[['Country_name','Restaurant_ID','Votes']].drop_duplicates()
    aux_df=aux_df.groupby(['Country_name'])[['Votes']].mean()
    aux_df=aux_df.round(0)
    aux_df.columns=['Mean_votes']
    return aux_df

def col_meanRate(dados):
    aux_df=dados.copy()
    aux_df=aux_df[['Country_name','Restaurant_ID','Votes','Aggregate_rating']].drop_duplicates()
    aux_df['mean_rate']=aux_df['Votes']*aux_df['Aggregate_rating']
    aux_df=aux_df.groupby(['Country_name']).mean()
    aux_df['mean_rate']=aux_df['mean_rate']/aux_df['Votes']
    aux_df=aux_df[['mean_rate']]
    return aux_df

def col_avgPrice_two(dados):
    aux_df=dados.copy()
    aux_df=aux_df[['Country_name','Restaurant_ID','Average_Cost_for_two']].drop_duplicates()
    aux_df=aux_df.groupby(['Country_name']).agg({'Restaurant_ID':'count','Average_Cost_for_two':'sum'})
    aux_df['avg_price_forTwo']=aux_df['Average_Cost_for_two']/aux_df['Restaurant_ID']
    display(aux_df)
    aux_df=aux_df[['avg_price_forTwo']].round(2)
    display(aux_df)
    return aux_df

'Average_Cost_for_two'

def juntar_colunas(dados):
    colunas={}
    colunas['cities']=col_cities(dados)
    colunas['cuisines']=col_cuisines(dados)
    #restaurants
    colunas['restaurants']=col_restaurants(dados)
    colunas['gourmet_restaurants']=col_gourmetRestaurants(dados)
    colunas['Delivering_restaurants']=col_isDelivering(dados)
    colunas['booking_restaurants']=col_hasBooking(dados)
    colunas['avg_price_forTwo']=col_avgPrice_two(dados)
    #votes and rating
    colunas['total_votes']=col_totalVotes(dados)
    colunas['Mean_votes']=col_MeanVotes_perCountry(dados)
    colunas['Mean_rate']=col_meanRate(dados)
    from pandas import concat
    colunas=concat(list(colunas.values()),axis=1)
    colunas=colunas.reset_index().fillna(0)
    return colunas


juntar_colunas(dados)

,Restaurant_ID,Average_Cost_for_two,avg_price_forTwo
Country_name,,,
Australia,180,2.501276e+07,138959.783333
Brazil,240,6.829575e+03,28.456563
Canada,180,7.535000e+03,41.861111
England,400,2.246856e+04,56.171410
India,3120,2.634288e+04,8.443231
Indonesia,80,1.599840e+03,19.998000
New Zeland,239,9.031840e+03,37.790126
Philippines,80,7.366950e+03,92.086875
Qatar,80,3.828000e+03,47.850000
Singapure,80,1.131500e+04,141.437500
South Africa,346,6.572888e+03,18.996786
Sri Lanka,80,6.809550e+02,8.511938
Turkey,159,6.133500e+02,3.857547
United Arab Emirates,300,1.254328e+04,41.810933
United States of America,1378,7.581600e+04,55.018868

                          avg_price_forTwo
Country_name
Australia                        138959.78
Brazil                               28.46
Canada                               41.86
England                              56.17
India                                 8.44
Indonesia                            20.00
New Zeland                           37.79
Philippines                          92.09
Qatar                                47.85
Singapure                           141.44
South Africa                         19.00
Sri Lanka                             8.51
Turkey                                3.86
United Arab Emirates                 41.81
United States of America             55.02

,Country_name,Cities,cuisines,Restaurants,Gourmet_restaurants,Delivering_restaurants,booking_restaurants,avg_price_forTwo,total_votes,Mean_votes,mean_rate
0,Australia,3,43,180,33,0.0,29.0,138959.78,130357,724.0,4.403027
1,Brazil,3,43,240,148,0.0,0.0,28.46,2977,12.0,4.205845
2,Canada,3,42,180,54,0.0,0.0,41.86,105018,583.0,4.372959
3,England,5,52,400,79,0.0,55.0,56.17,39956,100.0,4.476324
4,India,49,78,3120,195,1150.0,256.0,8.44,2800199,897.0,4.318256
5,Indonesia,3,21,80,17,0.0,14.0,20.00,89026,1113.0,4.666796
6,New Zeland,4,37,239,79,0.0,19.0,37.79,52532,220.0,4.328769
7,Philippines,12,14,80,23,7.0,22.0,92.09,48398,605.0,4.530443
8,Qatar,1,31,80,50,3.0,4.0,47.85,30106,376.0,4.265924
9,Singapure,1,21,80,58,0.0,0.0,141.44,1822,23.0,4.585071
10,South Africa,12,42,346,221,0.0,3.0,19.00,81939,237.0,4.251648
11,Sri Lanka,1,26,80,16,0.0,1.0,8.51,12133,152.0,4.099712
12,Turkey,2,28,159,59,0.0,4.0,3.86,100193,630.0,4.393256
13,United Arab Emirates,4,46,300,102,52.0,10.0,41.81,177564,592.0,4.282897
14,United States of America,22,75,1378,417,0.0,3.0,55.02,523414,380.0,4.477824

In [22]:
['Restaurant_ID', 'Restaurant_Name', 'Country_Code', 'City', 'Address',
       'Locality', 'Locality_Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average_Cost_for_two', 'Currency', 'Has_Table_booking',
       'Has_Online_delivery', 'Is_delivering_now', 'Price_range',
       'Aggregate_rating', 'Rating_color', 'Rating_text', 'Votes',
       'Country_name', 'main_Cuisines']

dados.loc[dados['Country_name']=='Australia',['Country_name','Currency','Average_Cost_for_two']]
dados.loc[dados['Country_name']=='Australia','Average_Cost_for_two'].unique()

array([7.0000000e+01, 4.5000000e+01, 1.6000000e+02, 3.5000000e+01,
       4.0000000e+01, 1.1000000e+02, 8.5000000e+01, 1.0000000e+02,
       5.0000000e+01, 9.6000000e+01, 6.5000000e+01, 8.0000000e+01,
       9.0000000e+01, 2.5000017e+07, 7.5000000e+01, 6.0000000e+01,
       9.5000000e+01, 3.0000000e+01, 5.5000000e+01, 1.3000000e+02,
       1.5000000e+02, 1.4000000e+02, 1.2000000e+02, 2.5000000e+02,
       2.0000000e+02, 2.0000000e+01, 1.6500000e+02, 1.7000000e+02,
       0.0000000e+00, 1.0500000e+02, 1.3900000e+02, 4.4000000e+01,
       1.1500000e+02])