In [1]:
from scripts.manipular_dados.A00_leitura_dados import ler_dados
dados=ler_dados()

In [2]:
dados.columns

Index(['Restaurant_ID', 'Restaurant_Name', 'Country_Code', 'City', 'Address',
       'Locality', 'Locality_Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average_Cost_for_two', 'Currency', 'Has_Table_booking',
       'Has_Online_delivery', 'Is_delivering_now', 'Price_range',
       'Aggregate_rating', 'Rating_color', 'Rating_text', 'Votes',
       'Country_name', 'main_Cuisines'],
      dtype='object')

In [78]:
filter_c=['Arabian','American','Italian','Japanese','Home-made']

def cuisine_online_delivers(dados):
    aux_df=dados[['main_Cuisines','Restaurant_ID','Has_Online_delivery','Is_delivering_now']].drop_duplicates()
    aux_df=aux_df[aux_df['Has_Online_delivery']=='YES']
    aux_df=aux_df[aux_df['Is_delivering_now']=='YES']
    column_name='Online Delivers'
    aux_df[column_name]=1

    aux_df=aux_df.groupby(['main_Cuisines'])[[column_name]].sum().sort_values(by=column_name,ascending=False)[:20].reset_index()



    from plotly.express import scatter

    y='main_Cuisines'
    x='Aggregate_rating'
    #fig=scatter(aux_df,x,y,size='Aggregate_rating',color='main_Cuisines')

    return aux_df
cuisine_avg_rate(dados)

   main_Cuisines  Online Delivers
0   North Indian              317
1           Cafe              131
2   South Indian               79
3         Burger               76
4      Fast Food               72
5          Pizza               55
6        Chinese               49
7        Biryani               38
8        Italian               35
9    Continental               34
10        Mithai               33
11        Bakery               30
12   Street Food               27
13      Desserts               24
14        Indian               21
15  Healthy Food               21
16      American               20
17     Ice Cream               18
18     Beverages               15
19       Mughlai               13