In [3]:
from scripts.manipular_dados.A00_leitura_dados import ler_dados
dados=ler_dados()

In [4]:
dados.columns

Index(['Restaurant_ID', 'Restaurant_Name', 'Country_Code', 'City', 'Address',
       'Locality', 'Locality_Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average_Cost_for_two', 'Currency', 'Has_Table_booking',
       'Has_Online_delivery', 'Is_delivering_now', 'Price_range',
       'Aggregate_rating', 'Rating_color', 'Rating_text', 'Votes',
       'Country_name', 'main_Cuisines'],
      dtype='object')

In [5]:
dados['Aggregate_rating'].unique()

array([4.6, 4.7, 4.4, 4. , 4.3, 4.1, 4.5, 4.2, 4.9, 3.9, 4.8, 3.2, 3.3,
       2.5, 3.1, 3.8, 3.6, 3.7, 3.5, 0. , 2.8, 2.7, 3.4, 2.9, 2.4, 2.3,
       2.6, 3. , 2.2, 2.1])

In [6]:
dados['Price_range'].unique()

array(['expensive', 'gourmet', 'normal', 'cheap'], dtype=object)

In [31]:

def graph_priceRange(dados):
    import plotly.express as px
    aux_df=dados[['Restaurant_ID','Average_Cost_for_two','Price_range','Has_Table_booking']].drop_duplicates()
    aux_df=aux_df.groupby(['Price_range','Has_Table_booking'])[['Average_Cost_for_two']].mean().reset_index().sort_values(by='Average_Cost_for_two').round(2)                                                                                                                                                                                                                                                                                                                                                   
    fig=px.bar(aux_df,x='Price_range',y='Average_Cost_for_two',color='Price_range',barmode='group')
    return fig
graph_priceRange(dados)

ValueError: Plotly Express cannot process wide-form data with columns of different type.

In [8]:
dados[['Has_Table_booking','Has_Online_delivery', 'Is_delivering_now']]

     Has_Table_booking Has_Online_delivery Is_delivering_now
0                  YES                  NO                NO
1                  YES                  NO                NO
2                   NO                  NO                NO
3                   NO                  NO                NO
4                   NO                  NO                NO
...                ...                 ...               ...
7522                NO                  NO                NO
7523                NO                  NO                NO
7524                NO                  NO                NO
7525                NO                  NO                NO
7526                NO                  NO                NO

[7526 rows x 3 columns]